coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13.zip
coredata/DHMVIIDSMRAS1m_k13/Gebruiksvoorwaarden_Digitaal_Hoogtemodel_Vlaanderen_II_DSM_raster_1_m.pdf
coredata/DHMVIIDSMRAS1m_k13/Leesmij_DHMVII.pdf
coredata/DHMVIIDSMRAS1m_k13/Meta_Digitaal_Hoogtemodel_Vlaanderen_II_DSM_raster_1_m.pdf
coredata/DHMVIIDSMRAS1m_k13/Meta_Digitaal_Hoogtemodel_Vlaanderen_II_DSM_raster_1_m.xml
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.dbf
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.sbn
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.sbx
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.shp
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.shp.xml
coredata/DHMVIIDSMRAS1m_k13/DHMVII_vdc_k13/DHMVII_vdc_k13.shx
coredata/DHMVIIDSMRAS1m_k13/GeoTIFF/DHMVIIDSMRAS1m_k13.tif
/HTML_plots/script_figure.html
/HTML_plots/